@page
@model Presentation.Pages.ManageCars.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<div class="row mt-5">
    <form method="post">
            <div class="col-md-4">
                    <input type="hidden" asp-for="CarInformation.CarId" />
                    <div class="form-floating mb-3">
                        <input asp-for="CarInformation.CarName" class="form-control" id="carName" placeholder="Car Name">
                        <label asp-for="CarInformation.CarName" for="carName">Car Name</label>
                        <span class="text-danger"> @Model.Errors?.CarNameError </span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="CarInformation.CarDescription" class="form-control" id="carDescription" placeholder="Car Description"></input>
                        <label asp-for="CarInformation.CarDescription" for="carDescription">Car Description</label>
                <span class="text-danger"> @Model.Errors?.CarDescriptionError </span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="CarInformation.NumberOfDoors" class="form-control" id="numberOfDoors" placeholder="Number of Doors"></input>
                        <label asp-for="CarInformation.NumberOfDoors" for="numberOfDoors">Number of Doors</label>
                <span class="text-danger"> @Model.Errors?.NumberOfDoorsError </span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="CarInformation.SeatingCapacity" class="form-control" id="seatingCapacity" placeholder="Seating Capacity"></input>
                        <label asp-for="CarInformation.SeatingCapacity" for="seatingCapacity">Seating Capacity</label>
                <span class="text-danger"> @Model.Errors?.SeatingCapacityError </span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="CarInformation.FuelType" class="form-control" id="fuelType" placeholder="Fuel Type"></input>
                        <label asp-for="CarInformation.FuelType" for="fuelType">Fuel Type</label>
                <span class="text-danger"> @Model.Errors?.FuelTypeError </span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="CarInformation.Year" class="form-control" id="year" placeholder="Year"/>
                        <label asp-for="CarInformation.Year" for="year">Year</label>
                <span class="text-danger"> @Model.Errors?.YearError </span>
                    </div>
                    <div class="form-floating mb-3">
                <select asp-for="CarInformation.ManufacturerId" asp-items="@Model.ManufacturerSelectList" class="form-control" id="manufacturerId">
                        </select>
                        <label asp-for="CarInformation.ManufacturerId" for="manufacturerId">Manufacturer</label>
                    </div>
                    <div class="form-floating mb-3">
                <select asp-for="CarInformation.SupplierId" asp-items="@Model.SupplierSelectList" class="form-control" id="supplierId">
                        </select>
                        <label asp-for="CarInformation.SupplierId" for="supplierId">Supplier</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="CarInformation.CarStatus" class="form-control" id="carStatus" placeholder="Car Status"></input>
                        <label asp-for="CarInformation.CarStatus" for="carStatus">Car Status</label>
                <span class="text-danger"> @Model.Errors?.CarStatusError </span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="CarInformation.CarRentingPricePerDay" class="form-control" id="carRentingPrice" placeholder="Car Renting Price Per Day"></input>
                        <label asp-for="CarInformation.CarRentingPricePerDay" for="carRentingPrice">Car Renting Price Per Day</label>
                <span class="text-danger"> @Model.Errors?.CarRentingPricePerDayError </span>
                    </div>
            </div>
        <div class="d-flex gap-3">
            <a class="btn btn-outline-dark" asp-page="./Index">Back</a>
            <input type="submit" value="Save" class="btn btn-dark" />
        </div>
    </form>
</div>

