@page
@model Presentation.Pages.ManageCustomers.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form method="post">
<div class="row mt-5">
    <div class="col-md-4">

                <div class="form-floating mb-3">
                    <input asp-for="Customer.CustomerName" class="form-control" id="customerName" placeholder="Customer Name">
                    <label asp-for="Customer.CustomerName" for="customerName">Customer Name</label>
                <span class="text-danger"> @Model.Errors?.CustomerNameError </span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Customer.Telephone" class="form-control" id="telephone" placeholder="Telephone">
                    <label asp-for="Customer.Telephone" for="telephone">Telephone</label>
                <span class="text-danger"> @Model.Errors?.TelephoneError </span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Customer.Email" class="form-control" id="customerEmail" placeholder="Customer Email">
                    <label asp-for="Customer.Email" for="customerEmail">Customer Email</label>
                <span class="text-danger"> @Model.Errors?.EmailError </span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Customer.CustomerBirthday" class="form-control" id="customerBirthday" placeholder="Customer Birthday">
                    <label asp-for="Customer.CustomerBirthday" for="customerBirthday">Customer Birthday</label>
                <span class="text-danger"> @Model.Errors?.CustomerBirthdayError </span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Customer.CustomerStatus" class="form-control" id="customerStatus" placeholder="Customer Status">
                    <label asp-for="Customer.CustomerStatus" for="customerStatus">Customer Status</label>
                <span class="text-danger"> @Model.Errors?.CustomerStatusError </span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Customer.Password" type="password" class="form-control" id="password" placeholder="Password">
                    <label asp-for="Customer.Password" for="password">Password</label>
                <span class="text-danger"> @Model.Errors?.PasswordError </span>
                </div>

                <div class="form-group">

                 
                </div>

    </div>
</div>

<div class="gap-3 d-flex">
    <a class="btn btn-outline-dark" asp-page="Index">Back</a>
    <input type="submit" value="Create" class="btn btn-dark" />
</div>
            </form>